  <!-- this is the section that talks about my tech skills -->
  <div id="tech">
    <div class="container-fluid">
      <div class="row">
        <div class="col" id="dev">
          <div>
            <h1>{{tech.title1}}</h1>
            <h4> {{tech.title2}}</h4>
          </div>
          <div>
            <h1>{{blogs[0].title}}</h1>
            <p>{{blogs[0].content}}</p>
          </div>
          <div>
            <h1>{{blogs[1].title}}</h1>
            <p>{{blogs[1].content}}</p>
          </div>
          <div>
            <h1>{{blogs[2].title}}</h1>
            <p>{{blogs[2].content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>